Repository OceanSprint/tesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autoflake, flake8, black, yamllint

.pre-commit-config.yaml:

default_stages: [commit,push]
repos:
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: A Python utility that sorts imports alphabetically.
        entry: poetry run isort
        language: system
        types: [python]

    -   id: autoflake
        name: autoflake
        description: Removes unused imports and unused variables from Python code.
        entry: poetry run autoflake
        language: system
        types: [python]

    -   id: flake8
        name: Flake8
        description: Python Style Guide Enforcement.
        entry: poetry run flake8 --config .flake8
        language: system
        types: [python]

    -   id: black
        name: Black
        description: Uncompromising Python code formatter.
        entry: poetry run black
        language: system
        types: [python]

    -   id: trailing-whitespace
        name: Trim Trailing Space
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [file, text]

    -   id: end-of-file-fixer
        name: Fix end of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: poetry run end-of-file-fixer
        language: system
        types: [file, text]

    -   id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings.
        entry: poetry run check-merge-conflict
        language: system
        types: [file, text]

    -   id: codespell
        name: Check Spelling
        description: Checks for common misspellings in text files.
        entry: poetry run codespell --ignore-words .aspell.en.pws
        language: system
        types: [file, text]

    -   id: yamllint
        name: yamllint
        description: Lint YAML files.
        entry: poetry run yamllint
        language: system
        types: [yaml]

Fix for broken Poetry 1.3 on CircleCI
  .circleci/config.yml
Due: yamllint

add Installation chapter
  README.md
Due: none

Add --no-debug
  src/tesh/__init__.py
Due: isort, autoflake, flake8, black

Implement timeout and long-running
  README.md
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/fixtures/timeout.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

add README.md examples for custom timeout and long-running-processes
  README.md
  src/tesh/__init__.py
Due: isort, autoflake, flake8, black

fix all tests
  src/tesh/__init__.py
  src/tesh/extract.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

Use "shell" instead of "shell-session" as language directive in examples
  README.md
  demo/happy.md
  demo/sad.md
  src/tesh/tests/fixtures/debug.md
  src/tesh/tests/fixtures/exitcodes.md
  src/tesh/tests/fixtures/exitcodes_multipleblocks.md
  src/tesh/tests/fixtures/fail.md
  src/tesh/tests/fixtures/fixture.md
  src/tesh/tests/fixtures/folder/simple.md
  src/tesh/tests/fixtures/multiple_codeblocks.md
  src/tesh/tests/fixtures/prompt.md
  src/tesh/tests/fixtures/setup.md
  src/tesh/tests/fixtures/setup_fail.md
  src/tesh/tests/fixtures/timeout.md
Due: none

Tell users how to rerun the last command
  README.md
  src/tesh/test.py
Due: isort, autoflake, flake8, black

Get better values for average test duration by ignoring setup/teardown
  pyproject.toml
Due: none

fix broken README.md
  README.md
Due: none

run make tesh in CI too
  .circleci/config.yml
  README.md
Due: yamllint

consistently use 'console'
  README.md
Due: none

release 0.2.0
  CHANGELOG.md
  RELEASE.md
  pyproject.toml
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

add flake and declarative package build
  .gitignore
  flake.lock
  flake.nix
  nix/poetry2nix-overrides.nix
  nix/tesh.nix
Due: none

build: gitignore __pycache__ dirs
  .gitignore
Due: none

update python env and migrate to GitHub Actions
  .flake8
  .github/actions/nix-shell/action.yml
  .github/actions/uncommitted-changes/action.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  poetry.lock
  poetry.toml
  pyproject.toml
  shell.nix
Due: yamllint

fix: handle unicode in examples
  src/tesh/test.py
  src/tesh/tests/fixtures/folder/simple.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

fix: widen the TTY to avoid truncating commands
  src/tesh/test.py
  src/tesh/tests/fixtures/long_command.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

feat: allow commands to continue across lines
  README.md
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/fixtures/multiline_command.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

fix: escape square brackets in fnmatch patterns
  src/tesh/test.py
  src/tesh/tests/fixtures/wildcards.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

fix: respect leading whitespace in example output
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/fixtures/whitespace.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

Example for nix-shell
  demo/nix-shell.md
Due: none

Filter out ANSI escape sequences from the console output
  src/tesh/test.py
Due: isort, autoflake, flake8, black

Adjust the nix-shell demo
  demo/nix-shell.md
Due: none

allow "empty" prompt
  src/tesh/extract.py
Due: isort, autoflake, flake8, black

demo -> examples and a run them in CI
  .github/workflows/ci.yml
  Makefile
  README.md
  examples/happy.md
  examples/nix-shell.md
  examples/sad.md
Due: yamllint

Allow `...` in PS1
  src/tesh/test.py
Due: isort, autoflake, flake8, black

Lets make CI gods happy :)
  src/tesh/test.py
Due: isort, autoflake, flake8, black

bump version to 0.3.0
  pyproject.toml
Due: none

Add few items to changelog
  CHANGELOG.md
Due: none

async code paths are not covered in test
  src/tesh/test.py
Due: isort, autoflake, flake8, black

fix test
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

fix test 2
  examples/nix-shell.md
Due: none

another fix for nix-shell example
  examples/nix-shell.md
Due: none

Update src/tesh/test.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

adding zupo's suggestions
  Makefile
  README.md
  demo/happy.md
  demo/sad.md
Due: none

flake8 fixes
  src/tesh/test.py
Due: isort, autoflake, flake8, black

autorelease
  .github/workflows/ci.yml
Due: yamllint

Example for nix-shell
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  examples/nix-shell.md
  pyproject.toml
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black, yamllint
