Repository OceanSprint/tesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autoflake, flake8, black, yamllint

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically.
  entry: poetry run isort
  language: system

autoflake:
  name: autoflake
  description: Removes unused imports and unused variables from Python code.
  entry: poetry run autoflake
  language: system

flake8:
  name: Flake8
  description: Python Style Guide Enforcement.
  entry: poetry run flake8 --config .flake8
  language: system

black:
  name: Black
  description: Uncompromising Python code formatter.
  entry: poetry run black
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: poetry run yamllint
  language: system

further work on setting up CI
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  poetry.lock
  pyproject.toml
  src/tesh/__init__.py
  src/tesh/tests/__init__.py
  src/tesh/tests/test_hello.py
Due: isort, autoflake, flake8, black

fix lint errors
  src/tesh/__init__.py
  src/tesh/tests/__init__.py
  src/tesh/tests/test_hello.py
Due: isort, autoflake, flake8, black

moar fixes for CI boilerplate
  src/tesh/tests/test_hello.py
Due: isort, autoflake, flake8, black

remove BR for now
  .circleci/config.yml
Due: yamllint

extract
  README.md
  pyproject.toml
  src/tesh/__init__.py
  src/tesh/extract.py
  src/tesh/tests/test_hello.py
Due: isort, autoflake, flake8, black

implement running the tests
  src/tesh/__init__.py
  src/tesh/extract.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

add --version support
  README.md
  poetry.lock
  pyproject.toml
  src/tesh/__init__.py
Due: isort, autoflake, flake8, black

linting and tests for extract.py
  .flake8
  Makefile
  README.md
  src/tesh/__init__.py
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/test_extract.py
Due: isort, autoflake, flake8, black

add tests for run()
  poetry.lock
  pyproject.toml
  src/tesh/__init__.py
  src/tesh/tests/fixtures/empty_folder/.gitkeep
  src/tesh/tests/fixtures/folder/contained.md
  src/tesh/tests/fixtures/no_codeblocks.md
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

100% test coverage
  .flake8
  poetry.lock
  pyproject.toml
  src/tesh/tests/fixtures/no_codeblocks.md
  src/tesh/tests/test_extract.py
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

support python 3.9
  src/tesh/extract.py
Due: isort, autoflake, flake8, black

add extracting codeblocks
  src/tesh/__init__.py
  src/tesh/extract.py
  src/tesh/tests/fixtures/multiple_codeblocks.md
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

add a link to an audio pronounciation
  README.md
Due: none

Implement test
  src/tesh/__init__.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

tests, linters and types
  README.md
  pyproject.toml
  src/tesh/__init__.py
  src/tesh/test.py
  src/tesh/tests/fixtures/exitcodes.md
  src/tesh/tests/fixtures/fail.md
  src/tesh/tests/fixtures/folder/simple.md
  src/tesh/tests/fixtures/multiple_codeblocks.md
  src/tesh/tests/fixtures/setup.md
  src/tesh/tests/fixtures/setup.sh
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

add support for DEBUG dropping into interactive shell
  Makefile
  src/tesh/test.py
  src/tesh/tests/fixtures/debug.md
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

kind of implement the whole thing
  src/tesh/__init__.py
  src/tesh/changedir.py
  src/tesh/extract.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

add tests
  src/tesh/changedir.py
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/fixtures/exitcodes_multipleblocks.md
  src/tesh/tests/fixtures/fixture.md
  src/tesh/tests/fixtures/setup.md
  src/tesh/tests/fixtures/setup_fail.md
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

fix linters
  src/tesh/__init__.py
  src/tesh/changedir.py
  src/tesh/extract.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

fix mypy
  src/tesh/changedir.py
  src/tesh/extract.py
  src/tesh/test.py
  src/tesh/tests/test_extract.py
Due: isort, autoflake, flake8, black

verbose: a bit better formatting
  src/tesh/test.py
Due: isort, autoflake, flake8, black

fix mypy
  src/tesh/extract.py
Due: isort, autoflake, flake8, black

fix tests
  src/tesh/test.py
  src/tesh/tests/test_run.py
Due: isort, autoflake, flake8, black

test HOME
  src/tesh/test.py
Due: isort, autoflake, flake8, black

minor garden
  pyproject.toml
  src/tesh/__init__.py
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

implement ps1 support
  src/tesh/extract.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

Document syntax and usage in README
  README.md
  readme.sh
Due: none

Trim all trailing whitespace from all lines of output
  README.md
  src/tesh/test.py
  src/tesh/tests/fixtures/prompt.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

Implement --debug
  src/tesh/__init__.py
  src/tesh/test.py
Due: isort, autoflake, flake8, black

README: improvements
  README.md
Due: none

add tests
  src/tesh/test.py
  src/tesh/tests/fixtures/debug.md
  src/tesh/tests/fixtures/timeout.md
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

polish README
  README.md
  demo/happy.md
  demo/sad.md
Due: none

release 0.1.0
  CHANGELOG.md
Due: none

Add README to PyPI page
  CHANGELOG.md
  pyproject.toml
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

flush before running the tests
  src/tesh/__init__.py
Due: isort, autoflake, flake8, black

add support for BlueRacer
  .circleci/config.yml
Due: yamllint

fix linter
  src/tesh/__init__.py
Due: isort, autoflake, flake8, black

print command on failure
  README.md
  src/tesh/test.py
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black

run lint on all files on 'make tests'
  Makefile
Due: none

add example for tesh-fixture
  README.md
Due: none

Path conditions:
  isort: any of: \.py$
  autoflake: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
