Repository OceanSprint/tesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autoflake, flake8, black, yamllint

.pre-commit-config.yaml:

default_stages: [commit,push]
repos:
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: A Python utility that sorts imports alphabetically.
        entry: poetry run isort
        language: system
        types: [python]

    -   id: autoflake
        name: autoflake
        description: Removes unused imports and unused variables from Python code.
        entry: poetry run autoflake
        language: system
        types: [python]

    -   id: flake8
        name: Flake8
        description: Python Style Guide Enforcement.
        entry: poetry run flake8 --config .flake8
        language: system
        types: [python]

    -   id: black
        name: Black
        description: Uncompromising Python code formatter.
        entry: poetry run black
        language: system
        types: [python]

    -   id: trailing-whitespace
        name: Trim Trailing Space
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [file, text]

    -   id: end-of-file-fixer
        name: Fix end of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: poetry run end-of-file-fixer
        language: system
        types: [file, text]

    -   id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings.
        entry: poetry run check-merge-conflict
        language: system
        types: [file, text]

    -   id: codespell
        name: Check Spelling
        description: Checks for common misspellings in text files.
        entry: poetry run codespell --ignore-words .aspell.en.pws
        language: system
        types: [file, text]

    -   id: yamllint
        name: yamllint
        description: Lint YAML files.
        entry: poetry run yamllint
        language: system
        types: [yaml]

Setup auto-releasing to PyPI from GitHub Actions
  .circleci/config.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  RELEASE.md
Due: yamllint

Setup auto-releasing to PyPI from GitHub Actions (#47)
  .circleci/config.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  RELEASE.md
Due: yamllint

fix pre-release check
  .github/workflows/ci.yml
Due: yamllint

pyproject.toml: use poetry.core
  pyproject.toml
Due: none

pyproject.toml: use poetry.core (#49)
  pyproject.toml
Due: none

Finish replacing poetry with poetry-core
  pyproject.toml
Due: none

add flake.nix with package output
  .gitignore
  RELEASE.md
  dream2nix/default.nix
  dream2nix/x86_64-linux.json
  flake.lock
  flake.nix
  pyproject.toml
Due: none

Fix multiline commands on macOS and NixOS
  src/tesh/extract.py
  src/tesh/tests/fixtures/multiline_command.md
Due: isort, autoflake, flake8, black

Fix multiline commands on macOS and NixOS (#52)
  src/tesh/extract.py
  src/tesh/tests/fixtures/multiline_command.md
Due: isort, autoflake, flake8, black

Trying vanilla flakes
  .bash_history
  .envrc
  .pre-commit-config.yaml
  Makefile
  flake.lock
  flake.nix
  pyproject.toml
  shell.nix
Due: yamllint

Trying flake-parts
  .github/actions/nix-shell/action.yml
  .github/actions/uncommitted-changes/action.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .yamllint
  Makefile
  README.md
  flake.lock
  flake.nix
  poetry.lock
  pyproject.toml
  src/tesh/tests/test_tesh.py
Due: isort, autoflake, flake8, black, yamllint

impure test multiple Python versions
  .github/workflows/ci.yml
  Makefile
  examples/nix-shell.md
Due: yamllint

Test `make examples` in nix flake check
  .github/workflows/ci.yml
  Makefile
  flake.nix
Due: yamllint

test against all supported python versions in nix flake check
  .github/workflows/ci.yml
  flake.nix
Due: yamllint

run pure tests on different Python versions in parallel
  .github/workflows/ci.yml
Due: yamllint

Show how to drop into other Python versions
  .github/workflows/ci.yml
  README.md
  flake.nix
Due: yamllint

Provide a Docker-based development environment for people not using Nix
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  README.md
  examples/nix-shell.md
  flake.nix
Due: yamllint

Nicer flake names
  .github/workflows/ci.yml
  README.md
  flake.nix
Due: yamllint

Remove tooling installed by pre-commit-hooks-nix flake from poetry dependencies
  flake.nix
  poetry.lock
  pyproject.toml
Due: none

update dev dependencies
  .github/workflows/ci.yml
  flake.nix
  poetry.lock
Due: yamllint

add macOS testing to CI
  .github/workflows/ci.yml
  flake.nix
Due: yamllint

gardening
  .bash_history
Due: none

rename package `appEnv-` to `tesh-`
  .github/workflows/ci.yml
  flake.nix
Due: yamllint

release 0.3.1
  CHANGELOG.md
  RELEASE.md
  pyproject.toml
Due: none

release 0.3.2
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
Due: yamllint

polishing flakes
  .github/workflows/ci.yml
  Makefile
  flake-module.nix
  flake.nix
  interface.nix
Due: yamllint

polishing flakes (#54)
  .github/workflows/ci.yml
  Makefile
  flake-module.nix
  flake.nix
  interface.nix
Due: yamllint

use pydev flake-parts module
  flake-module.nix
  flake.lock
  flake.nix
  interface.nix
Due: none

use pydev flake-parts module (#55)
  flake-module.nix
  flake.lock
  flake.nix
  interface.nix
Due: none

publish flake to flakestry.dev
  .github/workflows/publish.yml
Due: yamllint

use latest pydev
  flake.lock
Due: none

Build for Apple Silicon instead of Intel based Macs
  .github/workflows/ci.yml
Due: yamllint

Preserve current environment when spawning bash
  src/tesh/test.py
Due: isort, autoflake, flake8, black
